.profile {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding-top: 20px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 20px;
}

.avatar-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.avatar {
  display: flex;
  align-self: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgb(66, 66, 66);
}

.username {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.tag, .location {
  margin-bottom: 6px;
  color: grey;
  text-align: center;
}
.stats {
  display: flex;
  border-top: 1px solid grey;
  background-color: lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.stats li {
      display: flex;
      flex-direction: column;
      border-right: 1px solid grey;
      width: calc(100% / 3);
      padding-top: 6px;
      padding-bottom: 6px;
      }
.stats li:last-child {
          border-right: none;
      }
.stats li span:last-child {
          font-weight: 600;
      }
      